<img src="http://plataforma-dev.us-east-2.elasticbeanstalk.com/PRL/LOGO-EUROBRAZIL2.png" style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
<div style="        display: flex;
        place-content: space-evenly;
">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://plataforma-dev.us-east-2.elasticbeanstalk.com/PRL/trabajadores.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Euroformación</h5>
            <p class="card-text">Hacer formaciones online.</p>
            <a href="http://euroformacio.net/" class="btn btn-primary">Euro Formación</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="http://plataforma-dev.us-east-2.elasticbeanstalk.com/PRL/FUNDAE-Logo.png" alt="Card image cap" style=" height: 195.42px; ">
        <div class="card-body">
            <h5 class="card-title">Fundae</h5>
            <p class="card-text">Para la formación en el Empleo</p>
            <a href="https://empresas.fundae.es/Lanzadera" class="btn btn-primary">Fundae</a>
        </div>
    </div>
</div>
